<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="de.hs-bremen.betaville" version="0.0.1">
    <name>Betaville Mobile Viewer</name>

    <description>
        A mobile app for usage in conjunction with the Betaville project of the University of Applied Sciences Bremen.
    </description>

    <author email="betavilleBremen@gmail.com" href="http://betaville.hs-bremen.de">
        Martin Kehrein
    </author>

    <content src="index.html"/>

    <icon src="www/resources/drawable-ldpi/icon.png" density="ldpi" />
    <icon src="www/resources/drawable-mdpi/icon.png" density="mdpi" />
    <icon src="www/resources/drawable-hdpi/icon.png" density="hdpi" />

    <plugin name="cordova-plugin-whitelist" spec="1" />

    <access origin="http://betaville.hs-bremen.de:8080"/>
    <allow-navigation href="http://betaville.hs-bremen.de:8080"/>
    <allow-intent href="http://betaville.hs-bremen.de:8080"/>

    <!-- Delete following permissions upon release. Permissions refer to test server -->
    <access origin="http://195.37.176.183:8080"/>
    <allow-navigation href="http://195.37.176.183:8080"/>
    <allow-intent href="http://195.37.176.183:8080"/>

    <!-- Multiplatform preferences: -->
    <preference name="Orientation" value="sensorLandscape" />
    <preference name="Fullscreen" value="true" />

    <platform name="android">
        <allow-intent href="market:*"/>
        <preference name="KeepRunning" value="false"/>
        <preference name="LoadingDialog" value="Betaville Mobile Viewer, Loading…"/>
        <preference name="AndroidPersistentFileLocation" value="Internal" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
</widget>
