/*
    This file contains settings to override the premade ones from jQuery's Theme Roller files.

    Created on : 05.02.2016, 21:37:07
    Author     : Martin Kehrein
*/

.ui-progressbar-value {
    background-color: #006699;
}

#preface {
    padding: 0%;
}

#preface-title {
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preface-title img {
    height: 2.5em;
}

#preface-title h1 {
    font-family: lato, sans-serif;
    font-size: 3em !important;
    color: #004A6E;
    margin: 0 0 0 0.1em !important;
    padding-top: 0.05em !important;
}

#preface-subtitle {
    margin-top: -0.5em;
    text-align: center;
}

#progress_bar {
    width: 80% !important;
    margin: auto;
}

.progress_text {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
}

#control-ui {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#camera-body {
    background-color: black;
    width: 95% !important;
    height: 95% !important;
    margin: auto;
}

.bordered {
    border: #006699 dotted thin;
}